name: Xandikos CI

on:
  workflow_dispatch: {}

env:
  APP_NAME: xandikos
  APP_REPO: https://github.com/jelmer/xandikos
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}-xandikos


jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Prepare app sources
        run: |
          git clone --depth=1 ${{ env.APP_REPO }} ${{ env.APP_NAME }}

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v5
        with:
          context: ${{ env.APP_NAME }}
          file: ${{ env.APP_NAME }}/Containerfile
          push: true
          tags: ${{ env.IMAGE_NAME }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
